openapi: 3.0.3
info:
  description: |-
    The Keboola Connection Management API covers all tasks required for managing projects, as well as some super admin features
    for controlling and monitoring Keboola Connection.

    ## Projects Management

    * Create, modify and delete maintainers, organizations and projects

    * Move projects between organizations

    * Define project limits

    * Provision Redshift and other Storage backends

    * Access project management activity log

    ## Projects Monitoring

    * Monitoring of projects over organizations and maintainers

    ## Super User Control and Monitoring

    * UI release and deployment

    * Components management

    * Storage and Syrup jobs monitoring (will be provided by Syrup utilizing new tokens for authorization)

    * Final project delete

    * Workers start/shutdown, etc.

    ## Authentication

    The API supports authentication by a personal access token, which can be retrieved in [Account Settings](https://connection.keboola.com/admin/account/change-password) in Keboola Connection.
    An access token is tied to an administrator and its permissions are derived from their permissions. When the administrator is disabled or deleted, all their tokens become invalid too.

    ## Token Types

    There are the following types of tokens:

    | Name | Tied to User | Token string is available only on create | Description  |
    | ------------- | ------------- | ------------------- | ----- |
    | user | Yes | Yes |Full access to maintainers, organizations and projects. Access is limited only to resources which are available for the token user.|
    | super | No | Yes | KBC management. Limited scopes can be specified `super_ui_deploy`, `super_monitoring`, ...  |
  title: Manage API
  version: 1.0.0
servers:
- url: https://connection.keboola.com/
- url: https://connection.eu-central-1.keboola.com/
- url: https://connection.north-europe.azure.keboola.com/
security:
- ApiKeyAuth: []
tags:
- name: Token Verification
- name: Maintainers
- name: Organizations
- name: Projects
- description: Operations on deleted projects are allowed only for a super admin.
  name: Deleted Projects
- description: Users can be managed only by a super admin.
  name: Users
- name: My Account
- name: Promo codes
- name: SUPER - Features
- description: |-
    ## Management of file storages.

    File storage can be represented:
    1) By the Azure Blob Storage container with associated credentials of Storage account
    2) By the AWS S3 bucket with associated AWS IAM credentials with full access to this bucket and access to the AWS STS service. At least one file storage has to be registered for one supported region.

    Each type of storage has its own endpoint.
  name: SUPER - File Storage Management
- description: |-
    Storage backends power Keboola Connection buckets and the main tabular data storage.
    Currently supported backends are:

    - Redshift

    - Snowflake

    - Synapse

    - Exasol

    - Teradata
  name: SUPER - Storage Backends Management
- name: SUPER - Commands
- name: SUPER - UI Management
paths:
  /manage/tokens/verify:
    get:
      description: ""
      operationId: Token Verification
      parameters: []
      responses:
        "200":
          content:
            application/json:
              example:
                id: 13702
                description: Example token
                created: 2021-06-28T22:27:28+0200
                lastUsed: 2022-06-13T22:29:03+0200
                expires: 2031-06-26T22:27:28+0200
                isSessionToken: false
                isExpired: false
                isDisabled: false
                scopes: []
                type: admin
                creator:
                  id: 7919
                  name: John Doe
                user:
                  id: 7919
                  name: John Doe
                  email: john.doe@keboola.com
                  mfaEnabled: true
                  features: []
                  canAccessLogs: true
                  isSuperAdmin: true
              schema:
                $ref: "#/components/schemas/Token_Verification_200_response"
          description: OK
      summary: Token Verification
      tags:
      - Token Verification
  /manage/maintainers:
    get:
      description: ""
      operationId: List maintainers
      parameters: []
      responses:
        "200":
          content: {}
          description: OK
      summary: List maintainers
      tags:
      - Maintainers
    post:
      description: Creates a new maintainer. The user associated with the token will
        become an admin of the maintainer.
      operationId: Create a maintainer
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              name: Example
              defaultConnectionRedshiftId: "234"
              defaultConnectionSnowflakeId: "324"
              defaultConnectionSynapseId: "324"
              defaultConnectionExasolId: "324"
              defaultConnectionTeradataId: "324"
              defaultFileStorageId: "456"
              zendeskUrl: https://keboola.zendesk.com
            schema:
              $ref: "#/components/schemas/Create_a_maintainer_request"
      responses:
        "201":
          content:
            application/json:
              example:
                id: 123
                created: 2014-11-11T08:40:51.620Z
                url: /questions/1
                defaultConnectionMysqlId: 234
                defaultConnectionRedshiftId: 232
                defaultConnectionSnowflakeId: 242
                defaultConnectionSynapseId: 235
                defaultConnectionExasolId: 236
                defaultConnectionTeradataId: 236
                defaultFileStorageId: 456
                zendeskUrl: https://some.url.com
              schema:
                $ref: "#/components/schemas/MaintainerModel"
          description: Created
      summary: Create a maintainer
      tags:
      - Maintainers
  /manage/maintainers/{maintainer_id}:
    delete:
      description: ""
      operationId: Delete a maintainer
      parameters:
      - description: ""
        example: "1"
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Delete a maintainer
      tags:
      - Maintainers
    get:
      description: ""
      operationId: Retrieve a maintainer
      parameters:
      - description: ""
        example: "1"
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 123
                created: 2014-11-11T08:40:51.620Z
                url: /questions/1
                defaultConnectionMysqlId: 234
                defaultConnectionRedshiftId: 232
                defaultConnectionSnowflakeId: 242
                defaultConnectionSynapseId: 235
                defaultConnectionExasolId: 236
                defaultConnectionTeradataId: 236
                defaultFileStorageId: 456
                zendeskUrl: https://some.url.com
              schema:
                $ref: "#/components/schemas/MaintainerModel"
          description: OK
      summary: Retrieve a maintainer
      tags:
      - Maintainers
    patch:
      description: A partial update of a maintainer
      operationId: Update a maintainer
      parameters:
      - description: ""
        example: "1"
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Example
              defaultConnectionRedshiftId: "234"
              defaultConnectionSnowflakeId: "324"
              defaultConnectionSynapseId: "324"
              defaultConnectionExasolId: "324"
              defaultConnectionTeradataId: "324"
              defaultFileStorageId: "456"
              zendeskUrl: https://keboola.zendesk.com
            schema:
              $ref: "#/components/schemas/Update_a_maintainer_request"
      responses:
        "200":
          content:
            application/json:
              example:
                id: 123
                created: 2014-11-11T08:40:51.620Z
                url: /questions/1
                defaultConnectionMysqlId: 234
                defaultConnectionRedshiftId: 232
                defaultConnectionSnowflakeId: 242
                defaultConnectionSynapseId: 235
                defaultConnectionExasolId: 236
                defaultConnectionTeradataId: 236
                defaultFileStorageId: 456
                zendeskUrl: https://some.url.com
              schema:
                $ref: "#/components/schemas/MaintainerModel"
          description: OK
      summary: Update a maintainer
      tags:
      - Maintainers
  /manage/maintainers/{maintainer_id}/invitations:
    get:
      description: ""
      operationId: List maintainers invitations
      parameters:
      - description: Maintainer ID
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 112
                created: 2018-07-10T10:45:11+0200
                user:
                  id: 124
                  name: test user 2
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              - id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              schema:
                items:
                  $ref: "#/components/schemas/List_maintainers_invitations_200_response_inner"
                type: array
          description: OK
      summary: List maintainers invitations
      tags:
      - Maintainers
    post:
      description: Only members of the maintainer and superadmins can invite other
        users.
      operationId: Invite a user to a maintainer
      parameters:
      - description: Maintainer ID
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              email: martin@keboola.com
            schema:
              $ref: "#/components/schemas/Invite_a_user_to_a_maintainer_request"
      responses:
        "201":
          content:
            application/json:
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              schema:
                $ref: "#/components/schemas/Invite_a_user_to_a_maintainer_201_response"
          description: Created
      summary: Invite a user to a maintainer
      tags:
      - Maintainers
  /manage/maintainers/{maintainer_id}/invitations/{invitation_id}:
    delete:
      description: ""
      operationId: Cancel maintainer invitation
      parameters:
      - description: Maintainer ID
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: invitation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Cancel maintainer invitation
      tags:
      - Maintainers
    get:
      description: ""
      operationId: Maintainer invitation detail
      parameters:
      - description: Maintainer ID
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: invitation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              schema:
                $ref: "#/components/schemas/Invite_a_user_to_a_maintainer_201_response"
          description: OK
      summary: Maintainer invitation detail
      tags:
      - Maintainers
  /manage/maintainers/{maintainer_id}/users:
    get:
      description: ""
      operationId: List maintainer users
      parameters:
      - description: ID of the maintainer
        example: "1"
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 23423
                name: Martin Halamicek
                email: martin@keboola.com
              schema:
                items:
                  $ref: "#/components/schemas/List_maintainers_invitations_200_response_inner_user"
                type: array
          description: OK
      summary: List maintainer users
      tags:
      - Maintainers
    post:
      description: "Either `id` or `email` of a user must be set. If the email is\
        \ not associated with a user, a new account is created and an invitation is\
        \ sent."
      operationId: Add a User to maintainer
      parameters:
      - description: ID of the maintainer
        example: "1"
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: "7234"
              email: martin@keboola.com
            schema:
              $ref: "#/components/schemas/Add_a_User_to_maintainer_request"
      responses:
        "204":
          content: {}
          description: No Content
      summary: Add a User to maintainer
      tags:
      - Maintainers
  /manage/maintainers/{maintainer_id}/users/{user_id}:
    delete:
      description: ""
      operationId: Remove a user from maintainer
      parameters:
      - description: ID of the maintainer
        example: "1"
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: number
        style: simple
      - description: User ID
        example: "1"
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Remove a user from maintainer
      tags:
      - Maintainers
  /manage/maintainers/{maintainer_id}/metadata:
    get:
      description: Only members of the maintainer and super admins can list metadata.
      operationId: List maintainer metadata
      parameters:
      - description: Maintainer ID
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: List maintainer metadata
      tags:
      - Maintainers
    post:
      description: |-
        Sets multiple metadata with one call. If the given key and provider combination already exist
        for the maintainer, the data will be updated with the new value and timestamp.
        Only maintainer members and super admins can change metadata.
      operationId: Set maintainer metadata
      parameters:
      - description: Maintainer ID
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              provider: user
              metadata:
              - key: KBC.SomeEnity.metadataKey
                value: Some value
              - key: someMetadataKey
                value: Some value
            schema:
              $ref: "#/components/schemas/Set_maintainer_metadata_request"
      responses:
        "201":
          content: {}
          description: Created
      summary: Set maintainer metadata
      tags:
      - Maintainers
  /manage/maintainers/{maintainer_id}/metadata/{metadata_id}:
    delete:
      description: ""
      operationId: Remove maintainer metadata
      parameters:
      - description: Maintainer ID
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: string
        style: simple
      - description: Metadata ID
        explode: false
        in: path
        name: metadata_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Remove maintainer metadata
      tags:
      - Maintainers
  /manage/organizations/{organization_id}:
    delete:
      description: ""
      operationId: Delete an organization
      parameters:
      - description: ID of the organization in form of an integer
        example: "1"
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Delete an organization
      tags:
      - Organizations
    get:
      description: |-
        To access token needs to be superuser, member of the organization, member of the maintainer or application token with
        scope `organizations:read`.
      operationId: Retrieve an organization
      parameters:
      - description: ID of the organization in form of an integer
        example: "1"
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 123
                name: sample org
                created: 2015-10-02T11:03:44+0200
                allowAutoJoin: true
                crmId: "6232456"
                activityCenterProjectId: 123
                mfaRequired: false
                projects:
                - id: 123
                  name: Demo
                  created: 2014-11-11T08:40:51.620Z
              schema:
                $ref: "#/components/schemas/Retrieve_an_organization_200_response"
          description: OK
      summary: Retrieve an organization
      tags:
      - Organizations
    patch:
      description: Partial update of an organization
      operationId: Update an organization
      parameters:
      - description: ID of the organization in form of an integer
        example: "1"
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: POC
              maintainerId: ""
              allowAutoJoin: ""
              crmId: "123456"
              activityCenterProjectId: "123"
              mfaRequired: ""
            schema:
              $ref: "#/components/schemas/Update_an_organization_request"
      responses:
        "200":
          content:
            application/json:
              example:
                id: 123
                name: POC
                created: 2015-10-02T11:03:44+0200
                allowAutoJoin: true
                crmId: "123456"
                activityCenterProjectId: 123
                mfaRequired: false
                projects:
                - id: 123
                  name: Demo
                  created: 2014-11-11T08:40:51.620Z
              schema:
                $ref: "#/components/schemas/Retrieve_an_organization_200_response"
          description: OK
      summary: Update an organization
      tags:
      - Organizations
  /manage/maintainers/{maintainer_id}/organizations:
    get:
      description: ""
      operationId: List maintainer's organizations
      parameters:
      - description: ID of the parent maintainer. The created organization will be
          assigned to this maintainer.
        example: "1"
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: List maintainer's organizations
      tags:
      - Organizations
    post:
      description: Creates a new organization.
      operationId: Create an organization
      parameters:
      - description: ID of the parent maintainer. The created organization will be
          assigned to this maintainer.
        example: "1"
        explode: false
        in: path
        name: maintainer_id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: POC
              crmId: "234"
            schema:
              $ref: "#/components/schemas/Create_an_organization_request"
      responses:
        "201":
          content:
            application/json:
              example:
                id: 123
                name: sample org
                created: 2014-11-11T08:40:51.620Z
                allowAutoJoin: true
                crmId: "6232456"
                activityCenterProjectId: 123
                mfaRequired: false
                projects:
                - id: 123
                  name: Demo
                  created: 2014-11-11T08:40:51.620Z
              schema:
                $ref: "#/components/schemas/OrganizationModel"
          description: Created
      summary: Create an organization
      tags:
      - Organizations
  /manage/organizations/{organization_id}/invitations:
    get:
      description: ""
      operationId: List organization invitations
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 112
                created: 2018-07-10T10:45:11+0200
                user:
                  id: 124
                  name: test user 2
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              - id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              schema:
                items:
                  $ref: "#/components/schemas/List_maintainers_invitations_200_response_inner"
                type: array
          description: OK
      summary: List organization invitations
      tags:
      - Organizations
    post:
      description: Only members of the organization can invite other users.
      operationId: Invite a user to a organization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              email: martin@keboola.com
            schema:
              $ref: "#/components/schemas/Invite_a_user_to_a_maintainer_request"
      responses:
        "201":
          content:
            application/json:
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              schema:
                $ref: "#/components/schemas/Invite_a_user_to_a_maintainer_201_response"
          description: Created
      summary: Invite a user to a organization
      tags:
      - Organizations
  /manage/organizations/{organization_id}/invitations/{invitation_id}:
    delete:
      description: ""
      operationId: Cancel organization invitation
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: invitation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Cancel organization invitation
      tags:
      - Organizations
    get:
      description: ""
      operationId: Organization invitation detail
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: invitation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              schema:
                $ref: "#/components/schemas/Invite_a_user_to_a_maintainer_201_response"
          description: OK
      summary: Organization invitation detail
      tags:
      - Organizations
  /manage/organizations/{organization_id}/users:
    get:
      description: ""
      operationId: List organization users
      parameters:
      - description: ID of the organization
        example: "1"
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 23423
                name: Martin Halamicek
                email: martin@keboola.com
              schema:
                items:
                  $ref: "#/components/schemas/List_maintainers_invitations_200_response_inner_user"
                type: array
          description: OK
      summary: List organization users
      tags:
      - Organizations
    post:
      description: "Either `id` or `email` of a user must be set. If the email is\
        \ not associated with a user, a new account is created and an invitation is\
        \ sent."
      operationId: Add a User to organization
      parameters:
      - description: ID of the organization
        example: "1"
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: number
        style: simple
      requestBody:
        content:
          application/json:
            example:
              id: "7234"
              email: martin@keboola.com
            schema:
              $ref: "#/components/schemas/Add_a_User_to_maintainer_request"
      responses:
        "204":
          content: {}
          description: No Content
      summary: Add a User to organization
      tags:
      - Organizations
  /manage/organizations/{organization_id}/users/{user_id}:
    delete:
      description: ""
      operationId: Remove a user from organization
      parameters:
      - description: ID of the organization
        example: "1"
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: number
        style: simple
      - description: User ID
        example: "1"
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Remove a user from organization
      tags:
      - Organizations
  /manage/organizations/{organization_id}/projects-users:
    get:
      description: List of all users who are members of at least one project in the
        organization. Only members of the organization can get this list.
      operationId: List project users in organization
      parameters:
      - description: ID of the organization
        example: "1"
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 123
                name: test user
                email: martin@keboola.com
              - id: 125
                name: test user 3
                email: spam@keboola.com
              schema:
                items:
                  $ref: "#/components/schemas/List_project_users_in_organization_200_response_inner"
                type: array
          description: OK
      summary: List project users in organization
      tags:
      - Organizations
  /manage/organizations/{organization_id}/join-organization:
    post:
      description: "If the organization allows autojoin (`allowAutoJoin` attribute\
        \ is se to `true`), all members of its maintainer and superadmins are allowed\
        \ to join the organization."
      operationId: Join a organization
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Join a organization
      tags:
      - Organizations
  /manage/organizations/{organization_id}/force-mfa:
    post:
      description: |-
        With MFA as required, any user that does not have MFA enabled will lose access to the project until they set it up.

        Only members of the organization with MFA enabled can perform this action.
      operationId: Require Multi-Factor Authentication
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: Require Multi-Factor Authentication
      tags:
      - Organizations
  /manage/organizations/{organization_id}/metadata:
    get:
      description: "Only members of the maintainer, members of organization and super\
        \ admins can list metadata."
      operationId: List organization Metadata
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 123
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: KBC.SomeEnity.metadataKey
                value: Some value
              - id: 124
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: someMetadataKey
                value: Some value
              schema:
                items:
                  $ref: "#/components/schemas/List_organization_Metadata_200_response_inner"
                type: array
          description: OK
      summary: List organization Metadata
      tags:
      - Organizations
    post:
      description: |-
        Sets multiple metadata with one call. If the given key and provider combination already exist
        for the organization, the data will be updated with the new value and timestamp.
        Only organization members, members of the maintainer and super admins can change metadata.
      operationId: Set organization metadata
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              provider: user
              metadata:
              - key: KBC.SomeEnity.metadataKey
                value: Some value
              - key: someMetadataKey
                value: Some value
            schema:
              $ref: "#/components/schemas/Set_maintainer_metadata_request"
      responses:
        "201":
          content:
            application/json:
              example:
              - id: 123
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: KBC.SomeEnity.metadataKey
                value: Some value
              - id: 124
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: someMetadataKey
                value: Some value
              schema:
                items:
                  $ref: "#/components/schemas/List_organization_Metadata_200_response_inner"
                type: array
          description: Created
      summary: Set organization metadata
      tags:
      - Organizations
  /manage/organizations/{organization_id}/metadata/{metadata_id}:
    delete:
      description: ""
      operationId: Remove organization metadata
      parameters:
      - description: Organization ID
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      - description: Metadata ID
        explode: false
        in: path
        name: metadata_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Remove organization metadata
      tags:
      - Organizations
  /manage/projects/{project_id}:
    delete:
      description: "A project will not be physically deleted. It'll only be inaccessible\
        \ and hidden. If project was listed as `activityCenterProjectId` in it's organization\
        \ and it will be deleted, the `activityCenterProjectId` will be set to `null`."
      operationId: Delete a project
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Delete a project
      tags:
      - Projects
    get:
      description: |-
        Returns a project with associated limits and metrics.

        * limits  - These are limits assigned to a project (number of admins, number of orchestrations, parallelization).

        * metrics - Latest values of the monitored project metrics

        If the project is configured with pay as you go billing, `payAsYouGo` section is also included in the project details.

        This endpoint can also be accessed using application tokens with scope `projects:read`
      operationId: Project detail
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ""
                  activityCenterProjectId: ""
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: null
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ""
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
              schema:
                $ref: "#/components/schemas/ProjectModel"
          description: OK
      summary: Project detail
      tags:
      - Projects
    put:
      description: ""
      operationId: Update a project
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Test
              defaultBackend: snowflake
              type: demo
              expirationDays: 7
              billedMonthlyPrice: 2000
              dataRetentionTimeInDays: 20
            schema:
              $ref: "#/components/schemas/Update_a_project_request"
      responses:
        "200":
          content:
            application/json:
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ""
                  activityCenterProjectId: ""
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: null
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ""
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
              schema:
                $ref: "#/components/schemas/ProjectModel"
          description: OK
      summary: Update a project
      tags:
      - Projects
  /manage/organizations/{organization_id}/projects:
    get:
      description: ""
      operationId: List projects for an organization
      parameters:
      - description: Organization ID; projects have to be created in an organization.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 101
                name: test project
                type: production
                region: eu-west-1
                created: 2017-02-15T14:25:15+0100
                expires: null
                features:
                - featureName
                dataSizeBytes: 49152
                rowsCount: 200
                hasMysql: false
                hasRedshift: false
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                hasSnowflake: true
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  limitName:
                    name: limitName
                    value: 10
                metrics: {}
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 1
                fileStorageProvider: aws
              schema:
                $ref: "#/components/schemas/List_projects_for_an_organization_200_response"
          description: OK
      summary: List projects for an organization
      tags:
      - Projects
    post:
      description: ""
      operationId: Add a project
      parameters:
      - description: Organization ID; projects have to be created in an organization.
        explode: false
        in: path
        name: organization_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: My Demo
              type: demo
              defaultBackend: snowflake
              dataRetentionTimeInDays: "7"
            schema:
              $ref: "#/components/schemas/Add_a_project_request"
      responses:
        "201":
          content:
            application/json:
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ""
                  activityCenterProjectId: ""
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: null
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ""
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
              schema:
                $ref: "#/components/schemas/ProjectModel"
          description: Created
      summary: Add a project
      tags:
      - Projects
  /manage/projects/{project_id}/organizations:
    post:
      description: ""
      operationId: Move a project
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              organizationId: "523"
            schema:
              $ref: "#/components/schemas/Move_a_project_request"
      responses:
        "200":
          content:
            application/json:
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ""
                  activityCenterProjectId: ""
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: null
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ""
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
              schema:
                $ref: "#/components/schemas/ProjectModel"
          description: OK
      summary: Move a project
      tags:
      - Projects
  /manage/projects/{project_id}/storage-backend:
    post:
      description: ""
      operationId: Assign project Storage backend
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              storageBackendId: "32"
            schema:
              $ref: "#/components/schemas/Assign_project_Storage_backend_request"
      responses:
        "200":
          content:
            application/json:
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ""
                  activityCenterProjectId: ""
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: null
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ""
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
              schema:
                $ref: "#/components/schemas/ProjectModel"
          description: OK
      summary: Assign project Storage backend
      tags:
      - Projects
  /manage/projects/{project_id}/storage-backend/{storage_backend_id}:
    delete:
      description: ""
      operationId: Remove project Storage backend
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Storage backend ID; must be one of Storage backends assigned
          to the project.
        explode: false
        in: path
        name: storage_backend_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ""
                  activityCenterProjectId: ""
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: null
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ""
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
              schema:
                $ref: "#/components/schemas/ProjectModel"
          description: OK
      summary: Remove project Storage backend
      tags:
      - Projects
  /manage/projects/{project_id}/file-storage:
    post:
      description: ""
      operationId: Assign project file Storage
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              fileStorageId: "32"
            schema:
              $ref: "#/components/schemas/Assign_project_file_Storage_request"
      responses:
        "200":
          content:
            application/json:
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ""
                  activityCenterProjectId: ""
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: null
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ""
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
              schema:
                $ref: "#/components/schemas/ProjectModel"
          description: OK
      summary: Assign project file Storage
      tags:
      - Projects
  /manage/projects/{project_id}/limits:
    post:
      description: ""
      operationId: Set project limits
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              limits:
              - name: goodData.usersCount
                value: 23
            schema:
              $ref: "#/components/schemas/Set_project_limits_request"
      responses:
        "200":
          content:
            application/json:
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ""
                  activityCenterProjectId: ""
                  created: 2013-12-31T11:22:33+0100
                  allowAutoJoin: true
                fileStorage:
                  id: 2
                  awsKey: null
                  region: us-east-1
                  filesBucket: kbc-sapi-files
                  owner: keboola
                  isDefault: true
                  created: ""
                  creator:
                    id: 0
                    name: null
                backends:
                  snowflake:
                    id: 353
                    host: keboola.snowflakecomputing.com
                    region: us-east-1
                    owner: keboola
                payAsYouGo:
                  purchasedCredits: 123
              schema:
                $ref: "#/components/schemas/ProjectModel"
          description: OK
      summary: Set project limits
      tags:
      - Projects
  /manage/projects/{project_id}/limits/{limit_name}:
    delete:
      description: ""
      operationId: Remove project limit
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Limit name
        explode: false
        in: path
        name: limit_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Remove project limit
      tags:
      - Projects
  /manage/projects/{project_id}/metadata:
    get:
      description: "Only project members, members of the maintainer, members of organization\
        \ and super admins can list metadata."
      operationId: List project Metadata
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 123
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: KBC.SomeEnity.metadataKey
                value: Some value
              - id: 124
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: someMetadataKey
                value: Some value
              schema:
                items:
                  $ref: "#/components/schemas/List_organization_Metadata_200_response_inner"
                type: array
          description: OK
      summary: List project Metadata
      tags:
      - Projects
    post:
      description: |-
        Sets multiple metadata with one call. If the given key and provider combination already exist
        for the project, the data will be updated with the new value and timestamp.
        Only project members with Admin or Share roles, members of the maintainer, members of organization and super admins can change metadata.
      operationId: Set project metadata
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              provider: user
              metadata:
              - key: KBC.SomeEnity.metadataKey
                value: Some value
              - key: someMetadataKey
                value: Some value
            schema:
              $ref: "#/components/schemas/Set_maintainer_metadata_request"
      responses:
        "201":
          content:
            application/json:
              example:
              - id: 123
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: KBC.SomeEnity.metadataKey
                value: Some value
              - id: 124
                provider: user
                timestamp: 2021-02-17T15:05:21+0100
                key: someMetadataKey
                value: Some value
              schema:
                items:
                  $ref: "#/components/schemas/List_organization_Metadata_200_response_inner"
                type: array
          description: Created
      summary: Set project metadata
      tags:
      - Projects
  /manage/projects/{project_id}/metadata/{metadata_id}:
    delete:
      description: ""
      operationId: Remove project metadata
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Metadata ID
        explode: false
        in: path
        name: metadata_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Remove project metadata
      tags:
      - Projects
  /manage/projects/{project_id}/invitations:
    get:
      description: ""
      operationId: List project invitations
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 112
                created: 2018-07-10T10:45:11+0200
                expires: null
                reason: ""
                user:
                  id: 124
                  name: test user 2
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              - id: 113
                created: 2018-07-10T10:50:00+0200
                expires: 2018-07-12T10:50:00+0200
                reason: Help with Restbox configuration
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              schema:
                items:
                  $ref: "#/components/schemas/List_project_invitations_200_response_inner"
                type: array
          description: OK
      summary: List project invitations
      tags:
      - Projects
    post:
      description: |-
        Only members of the project or its organization are allowed to invite new users to the project.

        An optional expiration (seconds) and reason for joining can be added to the request.
      operationId: Invite a user to a project
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              email: martin@keboola.com
              role: admin
              expirationSeconds: 3600
              reason: Help with component configuration
            schema:
              $ref: "#/components/schemas/Invite_a_user_to_a_project_request"
      responses:
        "201":
          content:
            application/json:
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                expires: 2018-07-10T11:50:00+0200
                reason: Help with component configuration
                role: admin
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              schema:
                $ref: "#/components/schemas/Invite_a_user_to_a_project_201_response"
          description: Created
      summary: Invite a user to a project
      tags:
      - Projects
  /manage/projects/{project_id}/invitations/{invitation_id}:
    delete:
      description: Only members of the project or its organization are allowed to
        cancel project invitation.
      operationId: Cancel project invitation
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: invitation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Cancel project invitation
      tags:
      - Projects
    get:
      description: ""
      operationId: Project invitation detail
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: invitation_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 113
                created: 2018-07-10T10:50:00+0200
                expires: 2018-07-10T11:50:00+0200
                reason: Help with component configuration
                role: admin
                user:
                  id: 125
                  name: test user 3
                  email: spam@keboola.com
                creator:
                  id: 123
                  name: test user
                  email: martin@keboola.com
              schema:
                $ref: "#/components/schemas/Invite_a_user_to_a_project_201_response"
          description: OK
      summary: Project invitation detail
      tags:
      - Projects
  /manage/projects/{project_id}/users:
    get:
      description: ""
      operationId: List project users
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 123
                name: test user
                email: martin@keboola.com
                features: []
                expires: null
                created: 2016-02-29T08:01:13+0200
                reason: ""
                role: admin
                status: active
                invitor:
                  id: 124
                  name: test user 2
                  email: spam@keboola.com
                approver: null
              - id: 124
                name: test user 2
                email: spam@keboola.com
                features: []
                expires: 2016-03-22T15:01:13+0200
                created: 2016-02-22T15:01:13+0200
                reason: temporary test
                role: guest
                status: active
                invitor: null
                approver:
                  id: 1
                  name: admin 1
                  email: dev@keboola.com
              schema:
                items:
                  $ref: "#/components/schemas/List_project_users_200_response_inner"
                type: array
          description: OK
      summary: List project users
      tags:
      - Projects
    post:
      description: |-
        Only members of the project or its organization are allowed to add new users to the project.

        An optional expiration (seconds) and reason for joining can be added to the request.
      operationId: Add a user to a project
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              email: martin@keboola.com
              role: admin
              expirationSeconds: 3600
            schema:
              $ref: "#/components/schemas/Add_a_user_to_a_project_request"
      responses:
        "204":
          content: {}
          description: No Content
      summary: Add a user to a project
      tags:
      - Projects
  /manage/project-templates/:
    get:
      description: ""
      operationId: List templates
      parameters: []
      responses:
        "200":
          content:
            application/json:
              example:
              - id: poc15Days
                name: POC 15 days
                description: Proof of concept. 15 days trial.
                expirationDays: 15
                billedMonthlyPrice: null
                hasTryModeOn: false
                defaultBackend: snowflake
              - id: poc15DaysGuideMode
                name: POC Guide Mode
                description: Proof of concept. 15 days trial - Guide Mode.
                expirationDays: 15
                billedMonthlyPrice: null
                hasTryModeOn: true
                defaultBackend: snowflake
              schema:
                items:
                  $ref: "#/components/schemas/List_templates_200_response_inner"
                type: array
          description: OK
      summary: List templates
      tags:
      - Projects
  /manage/project-templates/{template_string_id}:
    get:
      description: ""
      operationId: Project template detail
      parameters:
      - description: Project string ID
        explode: false
        in: path
        name: template_string_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: poc15Days
                name: POC 15 days
                description: Proof of concept. 15 days trial.
                expirationDays: 15
                billedMonthlyPrice: null
                hasTryModeOn: false
                defaultBackend: snowflake
              schema:
                $ref: "#/components/schemas/Project_template_detail_200_response"
          description: OK
      summary: Project template detail
      tags:
      - Projects
  /manage/projects/{project_id}/users/{user_id}:
    delete:
      description: ""
      operationId: Delete a user from a project
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Delete a user from a project
      tags:
      - Projects
    patch:
      description: ""
      operationId: Change role of a user in a project
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: User ID
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              role: admin
            schema:
              $ref: "#/components/schemas/Change_role_of_a_user_in_a_project_request"
      responses:
        "200":
          content:
            application/json:
              example:
                id: 123
                name: test user
                email: martin@keboola.com
                features: []
                expires: null
                created: 2016-02-29T08:01:13+0200
                reason: ""
                role: admin
                status: active
                invitor:
                  id: 124
                  name: test user 2
                  email: spam@keboola.com
                approver: null
              schema:
                $ref: "#/components/schemas/Change_role_of_a_user_in_a_project_200_response"
          description: OK
      summary: Change role of a user in a project
      tags:
      - Projects
  /manage/projects/{project_id}/join-project:
    post:
      description: |-
        If the project's organization allows autojoin (`allowAutoJoin` attribute is se to `true`), all members of the organization, its maintainers and superadmins are allowed to join the project. Otherwise only members of the organization can join the project.

        An optional expiration (in seconds) and reason for joining can be added to the request.
      operationId: Join a project
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              reason: temporary test
              expirationSeconds: 3600
            schema:
              $ref: "#/components/schemas/Join_a_project_request"
      responses:
        "204":
          content: {}
          description: No Content
      summary: Join a project
      tags:
      - Projects
  /manage/projects/{project_id}/request-access:
    post:
      description: |-
        Create a join request to the project. All join requests have to be approved by a project member.

        An optional expiration (in seconds) and reason for joining can be added to the request.
      operationId: Request access to a project
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              reason: temporary test
              expirationSeconds: 3600
            schema:
              $ref: "#/components/schemas/Join_a_project_request"
      responses:
        "201":
          content:
            application/json:
              example:
                id: 124
                created: 2016-02-22T15:01:13+0200
                expires: 2016-03-22T15:01:13+0200
                reason: temporary test
                project:
                  id: 324
                  name: Main project
              schema:
                $ref: "#/components/schemas/Request_access_to_a_project_201_response"
          description: Created
      summary: Request access to a project
      tags:
      - Projects
  /manage/projects/{project_id}/join-requests:
    get:
      description: ""
      operationId: List join requests
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: 1234
                created: 2016-02-22T15:01:13+0200
                expires: 2016-03-22T15:01:13+0200
                reason: temporary test
                user:
                  id: 1
                  name: admin 1
                  email: dev@keboola.com
              - id: 1235
                created: 2016-02-30T11:50:13+0200
                expires: null
                reason: ""
                user:
                  id: 124
                  name: test user 2
                  email: spam@keboola.com
              schema:
                items:
                  $ref: "#/components/schemas/List_join_requests_200_response_inner"
                type: array
          description: OK
      summary: List join requests
      tags:
      - Projects
  /manage/projects/{project_id}/join-requests/{join_request_id}:
    delete:
      description: Only members of the project can reject join requests.
      operationId: Reject join request
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Join Request ID
        explode: false
        in: path
        name: join_request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Reject join request
      tags:
      - Projects
    get:
      description: ""
      operationId: Join request detail
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Join Request ID
        explode: false
        in: path
        name: join_request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 1235
                created: 2016-02-30T11:50:13+0200
                expires: null
                reason: ""
                user:
                  id: 124
                  name: test user 2
                  email: spam@keboola.com
              schema:
                $ref: "#/components/schemas/Join_request_detail_200_response"
          description: OK
      summary: Join request detail
      tags:
      - Projects
    put:
      description: |-
        Only members of the project can approve join requests.

        The user that submitted the join request will be added to the project.
      operationId: Approve join request
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      - description: Join Request ID
        explode: false
        in: path
        name: join_request_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content: {}
          description: Accepted
      summary: Approve join request
      tags:
      - Projects
  /manage/projects/{project_id}/disabled:
    post:
      description: ""
      operationId: Change project disabled status
      parameters:
      - description: Project ID
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              isDisabled: true
              disableReason: Project maintenance
              estimatedEndTime: +1 hour
            schema:
              $ref: "#/components/schemas/Change_project_disabled_status_request"
      responses:
        "200":
          content:
            application/json:
              example:
                id: 4088
                name: Martinšík
                type: production
                region: us-east-1
                created: 2017-12-11T09:02:13+0100
                expires: null
                features: []
                dataSizeBytes: 22691704832
                rowsCount: 4295727047
                hasMysql: false
                hasRedshift: false
                hasSnowflake: true
                hasSynapse: false
                hasExasol: false
                hasTeradata: false
                defaultBackend: snowflake
                hasTryModeOn: "0"
                limits:
                  components.jobsParallelism:
                    name: components.jobsParallelism
                    value: 10
                  goodData.dataSizeBytes:
                    name: goodData.dataSizeBytes
                    value: 1000000000
                  goodData.demoTokenEnabled:
                    name: goodData.demoTokenEnabled
                    value: 1
                  goodData.prodTokenEnabled:
                    name: goodData.prodTokenEnabled
                    value: 0
                  goodData.usersCount:
                    name: goodData.usersCount
                    value: 30
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 10
                  kbc.extractorsCount:
                    name: kbc.extractorsCount
                    value: 0
                  kbc.monthlyProjectPowerLimit:
                    name: kbc.monthlyProjectPowerLimit
                    value: 50
                  kbc.writersCount:
                    name: kbc.writersCount
                    value: 0
                  orchestrations.count:
                    name: orchestrations.count
                    value: 10
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 50000000000
                  storage.jobsParallelism:
                    name: storage.jobsParallelism
                    value: 10
                metrics:
                  kbc.adminsCount:
                    name: kbc.adminsCount
                    value: 1
                  orchestrations.count:
                    name: orchestrations.count
                    value: 1
                  storage.dataSizeBytes:
                    name: storage.dataSizeBytes
                    value: 22691704832
                  storage.rowsCount:
                    name: storage.rowsCount
                    value: 4295727047
                isDisabled: false
                billedMonthlyPrice: null
                dataRetentionTimeInDays: 7
                organization:
                  id: 5
                  name: Martinovo
                  crmId: ""
                  activityCenterProjectId: ""
                  created: 2013-12-31T11:22:33+0100
[...]
